# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py[cod].*
*.egg-info/
*.eggs/
.eggs/
*.manifest
*.spec
*.log
*.pot
*.pyc
*.pkl
*.sqlite3
*.db
*.DS_Store

# Virtual environment
.venv/
.venv_old

# IDE files
.vscode/
.idea/

# Environment files
.env

CV.pdf
check_chroma.py
uploads
chroma_db
chroma_store

